<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap 的 CSS 文件 -->
    <link href="/bootstrap-5.0.2-dist/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">

    <title>Index</title>
    <style>
        .selector-for-some-widget {
            box-sizing: content-box;
        }
    </style>
</head>
<body>
<div class="container">

    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
        <h1 class="modal-title">用餐预约</h1>
    </header>

    <form class="row g-3 needs-validation" action="/registration/register" method="post" novalidate>
        <div class="col-md-12">
            <label for="memberName" class="form-label">姓名</label>
            <input type="text" class="form-control" id="memberName" name="memberName" iscookie="true" required>
            <!--            <div class="valid-feedback">-->
            <!--                Looks good!-->
            <!--            </div>-->
        </div>
        <div class="col-md-12">
            <label for="departmentName" class="form-label">部门</label>
            <select class="form-select" aria-label="Default select example" id="departmentName" name="departmentName" required>
                <option th:each="department:${departments}" th:value="${department.departmentName}" th:text="${department.departmentName}" ></option>
            </select>
        </div>
        <div class="col-md-12">
            <label for="dinnerDate" class="form-label">用餐日期</label>
            <input type="text" class="form-control" id="dinnerDate" th:value="${dinnerDate}" disabled>
        </div>

        <div class="col-md-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember" checked>
                <label class="form-check-label" for="remember">
                    记住登记信息
                </label>
            </div>
        </div>

        <div class="col-12 d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="submit" class="btn btn-primary btn-lg px-4 gap-3" >提交</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="javascript:window.location='/admin/list'">管理员</button>
        </div>

    </form>
</div>


<!-- 选项 1：包含 Popper 的 Bootstrap 集成包 -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script>

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {


        getCookie();//获取cookie

        var status = "[[${status}]]"


        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    setAndRemoveCookie();
                    form.classList.add('was-validated')
                }, false)
            })
    })();

    function setAndRemoveCookie(){
        if($("#remember").is(':checked')){
            var memberName = $("#memberName").val();
            var departmentName = $("#departmentName").val();
            $.cookie("remember","true",{expires : 7 })//单位：天
            $.cookie("memberName",memberName,{expires: 7 });
            $.cookie("departmentName",departmentName,{expires: 7 })
        }else{
            $.cookie("remember","false",{expires:-1 });
            $.cookie("memberName",null,{expires:-1});
            $.cookie("departmentName",null,{expires:-1});
        }
    }

    //获取cookie
    function getCookie(){
        if($.cookie("remember")==="true"){
            $("#remember").attr("checked",true);
            $("#memberName").val($.cookie("memberName"));
            $("#departmentName").val($.cookie("departmentName"));
        }
    }


</script>
</body>
</html>