<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap 的 CSS 文件 -->
    <link href="/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/bootstrap-table-dist/bootstrap-table.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/bootstrap-datepicker-dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="/bootstrap-datepicker-dist/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet">
    <title>Index</title>
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
        <h1 class="modal-title">已预约名单</h1>
    </header>

    <div id="toolbar">
        <div class="input-group input-daterange" id="datepicker">
            <input type="text" class="form-control" id="startDate" name="start" th:value="${toDay}">
            <div class="input-group-addon">to</div>
            <input type="text" class="form-control" id="endDate" name="end" th:value="${toDay}">
        </div>
    </div>
<!--data-show-columns="true"-->
    <table
            id="registerTable"
            data-toggle="table"
            data-height="560"
            data-toolbar="#toolbar"
            data-icons="icons"
            data-show-footer="true"
            data-footer-style="footerStyle"
            data-search="true"
            data-show-refresh="true"
            data-show-fullscreen="true"
            data-show-export="true"
            data-pagination="true"
            data-page-number="1"
            data-page-size="20"
            data-page-list="[10, 20, 50, 100, All]"
            data-query-params-type=""
            data-side-pagination="server"
            data-query-params="queryParams"
            data-url="/admin/pageTable">
        <thead>
<!--        <tr>-->
            <th data-field="registerId" data-footer-formatter="idFormatter">#</th>
            <th data-field="memberName" data-footer-formatter="memberFormatter">姓名</th>
            <th data-field="dinnerDate">就餐日期</th>
            <th data-field="departmentName">部门名称</th>
<!--        </tr>-->
        </thead>
    </table>
</div>

<!-- 选项 1：包含 Popper 的 Bootstrap 集成包 -->
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/tableExport.min.js"></script>
<script type="text/javascript" src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/bootstrap-table-dist/bootstrap-table.js"></script>
<script type="text/javascript" src="/bootstrap-table-dist/locale/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/bootstrap-table-dist/extensions/export/bootstrap-table-export.min.js"></script>
<script type="text/javascript" src="/bootstrap-datepicker-dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/bootstrap-datepicker-dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script>

    function DatePicker(beginSelector,endSelector){

        // 仅选择日期
        $(beginSelector).datepicker(
            {
                language:  "zh-CN",
                autoclose: true,
                startView: 0,
                format: "yyyy-mm-dd",
                todayBtn: 'linked',
                clearBtn: true,
                endDate: new Date()
            }).on('changeDate', function(ev){
                if(ev.date){
                    $(endSelector).datepicker('setStartDate', new Date(ev.date.valueOf()))
                }else{
                    $(endSelector).datepicker('setStartDate',null);
                }
                $("#registerTable").bootstrapTable("refresh")
        });

        $(endSelector).datepicker(
            {
                language: "zh-CN",
                autoclose: true,
                startView: 0,
                format: "yyyy-mm-dd",
                todayBtn: 'linked',
                clearBtn: true,
                endDate: new Date()
            }).on('changeDate', function(ev){
                if(ev.date){
                    $(beginSelector).datepicker('setEndDate', new Date(ev.date.valueOf()))
                }else{
                    $(beginSelector).datepicker('setEndDate',new Date());
                }
                $("#registerTable").bootstrapTable("refresh")
        });
    }
    DatePicker("#startDate","#endDate");

    window.icons = {
        refresh: 'bi-arrow-clockwise',
        columns: 'bi-list-check',
        fullscreen: 'bi-arrows-fullscreen',
        export: 'bi-cloud-download'
    };

    // $("#registerTable").bootstrapTable({
    //     columns: [{
    //         field: "registerId",
    //         title: "序号",
    //         dataFooterFormatter:"idFormatter"
    //     },{
    //         field: "memberName",
    //         title: "用户名",
    //         dataFooterFormatter:"memberFormatter"
    //     },{
    //         field: "dinnerDate",
    //         title: "就餐日期",
    //         dataFooterFormatter: false
    //     },{
    //         field: "departmentName",
    //         title: "部门名称",
    //         dataFooterFormatter: false
    //     }]
    // });


    function footerStyle(column) {
        return {
            registerId: {
                css:{"font-weight":"bold"}
            },
            memberName: {
                css: {'font-weight': 'normal'}
            },
            dinnerDate: {
                css: {'display': 'hide'}
            },
            departmentName: {
                css: {'display': 'hide'}
            }
        }[column.field]
    }

    function idFormatter() {
        return '总计'
    }
    function  memberFormatter(data) {
        return data.length
    }
    function queryParams(params) {
        params.startDate = $("#startDate").val();
        params.endDate = $("#endDate").val();
        return params
    }
</script>
</body>
</html>