<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap 的 CSS 文件 -->
    <link href="/bootstrap-5.0.2-dist/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">

    <title>Login</title>
    <style>
        .selector-for-some-widget {
            box-sizing: content-box;
        }
    </style>
</head>
<body>
<div class="container">

    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
        <h1 class="modal-title">登录</h1>
    </header>

    <form class="row g-3 needs-validation" action="/login/check" method="post" novalidate>
        <div class="col-md-12">
            <label for="memberName" class="form-label">用户名</label>
            <input type="text" class="form-control" id="memberName" name="memberName" required>
<!--            <div class="valid-feedback">-->
<!--                Looks good!-->
<!--            </div>-->
        </div>
        <div class="col-md-12">
            <label for="memberPwd" class="form-label">登录密码</label>
            <input type="password" class="form-control" id="memberPwd" name="memberPwd" aria-describedby="inputGroupPrepend1" required>
<!--            <div class="valid-feedback">-->
<!--                Looks good!-->
<!--            </div>-->
        </div>
        <div class="col-md-12" id="message" style="display: none">
            <div class="invalid-feedback" style="display: block">
                [[${message}]]
            </div>
        </div>

        <div class="col-12 d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="submit" class="btn btn-primary btn-lg px-4 gap-3" id="signIn" name="submit">登录</button>
<!--            <button type="button" class="btn btn-outline-secondary btn-lg px-4" id="signUp" href="/member/registered">注册</button>-->
        </div>
    </form>
</div>


<!-- 选项 1：包含 Popper 的 Bootstrap 集成包 -->
<script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        var message = "[[${message}]]"
        if(message){
            var elementById = document.getElementById("message");
            elementById.style.display = "block";
        }

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
</body>
</html>